<div
	infinite-scroll
	[infiniteScrollDistance]="distance"
	[infiniteScrollThrottle]="throttle"
	(scrolled)="onPageScroll()"
	[scrollWindow]="false"
	id="story-container">
	<mat-card class="story" *ngFor="let story of stories">
		<h2>{{ story.title.toUpperCase() }}</h2>
		<h5 id="date">{{ story.date }}</h5>
		<h5 id="upvotes">UPVOTES:{{ story.votes }}</h5>
		<br />
		<ul *ngIf="story.drugs" id="story-drugs">
			<li *ngFor="let drug of story.drugs">
				{{ drug.drugName }}
			</li>
		</ul>
		<mat-card-actions>
			<span class="material-icons" (click)="openStory(story.storyId)">
				expand_more
			</span>
		</mat-card-actions>
	</mat-card>
</div>
