<mat-toolbar id="navbar">
	<div id="nav-buttons">
		<ul>
			<li *ngIf="!(isLoggedIn | async)" (click)="goToLogin()">LOGIN</li>
			<li *ngIf="!(isLoggedIn | async)" (click)="goToSignup()">SIGNUP</li>
			<li *ngIf="isLoggedIn | async" (click)="goToProfile()">PROFILE</li>
			<li *ngIf="isLoggedIn | async" (click)="goToExplore()">EXPLORE</li>
			<li *ngIf="isLoggedIn | async" (click)="signout()">LOGOUT</li>
		</ul>
	</div>
	<div id="icons">
		<span class="material-icons">note_add</span>
		<span id="check-in" class="material-icons">menu_book</span>
	</div>
</mat-toolbar>
