<mat-card id="signup-container">
	<mat-card-content>
		<form [formGroup]="form">
			<fieldset id="signup-form">
				<mat-form-field class="full-width">
					<mat-label>Username:</mat-label>
					<input
						matInput
						name="username"
						formControlName="username"
					/>
				</mat-form-field>
				<mat-form-field class="full-width">
					<mat-label>Email:</mat-label>
					<input matInput name="email" formControlName="email" />
				</mat-form-field>
				<mat-form-field class="form-field">
					<mat-label>Password:</mat-label>
					<input
						matInput
						name="password"
						formControlName="password"
						type="password"
					/>
				</mat-form-field>
			</fieldset>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button (click)="signup()">
			Signup
		</button>
	</mat-card-actions>
</mat-card>
